@import '../../assets/style/variables';

* {
    box-sizing: border-box;
}

// .mainHome {
//     background-color: $headerBgColor;
// }

.container-with-bg {
    padding: 55px 0px;
    background-color: $headerBgColor;
}

.fusion-heading-left {
    .fusion-heading-left-text {
        padding: 0px 35px;
        .fusion-heading-left-qoute {
            @include font-sen(400, 61px);
        }
        .fusion-heading-left-author {
            margin-top: 20px;
            @include font-roboto(400, 18px);
        }
    }
}
.fusion-heading-right {
    .fusion-heading-right-text {
        .fusion-heading-right-heading {
            @include font-sen(600, 19px);
            padding-bottom: 10px;
        }
        .fusion-heading-right-paragraph {
            @include font-roboto(400, 18px);
            line-height: 1.8;
            padding-bottom: 20px;
        }
    }
}
.btn-viewProperties-withoutBorder-green {
    margin-left: -5px;
    color: $colorGreen;
    border: none;
    background-color: $headerBgColor;
    position: relative;
    @include font-sen(600, 15px);
    .icon-btn-viewProperties-green {
        @include icon-right(
            '/assets/icons/icon-arrow-left-green.svg',
            18px,
            18px,
            -23px,
            4px
        );
    }
}
.btn-viewProperties-withoutBorder-green:hover {
    color: black;
    .icon-btn-viewProperties-green {
        @include icon-right(
            '/assets/icons/icon-arrow-left-black.svg',
            18px,
            18px,
            -23px,
            4px
        );
    }
}
.container-fullscreen {
    min-height: 100vh;
    .home-bg-img {
        // min-height: 100vh;
        position: relative;
        background: url('../../assets/images/img-bg-home-1.jpeg') no-repeat
            center center;
        background-size: cover;
    }
}

.btn-block {
    position: absolute;
    left: 25px;
}
.btnDefaultGreen {
    @include btnDefault($colorGreen, 16px 40px 16px 18px);
    width: 200px;
    .btn-icon-arrow-left-white {
        @include icon-right(
            '/assets/icons/icon-arrow-left-white.svg',
            18px,
            18px,
            27px,
            19px
        );
    }
}
.btnDefaultGreen:hover {
    background-color: black;
}

.container-without-bg {
    padding: 150px 50px;
}

.img-with-text {
    width: 100%;
    height: 100%;
}

.white-cont-block {
    padding: 170px 0 170px;
    margin-left: 100px;
    .white-cont-block-title {
        margin-bottom: 15px;
        @include font-sen(600, 21px);
        color: $colorGreen;
    }
    .white-cont-block-heading {
        @include font-sen(400, 57px);
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .white-cont-block-text {
        @include font-roboto(400, 18px);
        margin: 0 0 55px;
        line-height: 1.8;
    }
}

.titleMain {
    @include font-sen(400, 34px);
}

.home-bg {
    .img-bg {
        padding-top: 620px;
        background: url('../../assets/images/img-bg-home-2.jpeg') no-repeat
            center center;
        height: auto;
        position: relative;
        background-size: cover;
    }
}

.btnDefaultBlack {
    @include btnDefault(black, 16px 40px 16px 30px);
    width: 200px;
    .btn-icon-arrow-left-white {
        @include icon-right(
            '/assets/icons/icon-arrow-left-white.svg',
            18px,
            18px,
            27px,
            19px
        );
    }
}
.btnDefaultBlack:hover {
    background-color: $colorGreen;
}

.container-with-green-bg {
    padding: 55px 0px;
    background-color: $colorGreen;
}
