@import "../../assets/style/variables";

* {
    box-sizing: border-box;
}

// .mainHome {
//     background-color: $headerBgColor;
// }

.container-with-bg {
    padding: 55px 150px 100px;
    background-color: $headerBgColor;
}

.title {
    .title-text {
        padding: 0px 35px;
        .title-qoute {
            @include font-sen (400, 61px);
         }
          .title-author {
            @include font-roboto (400, 18px);
         }
    }
     
}
.title2 {
    .title2-text {
        padding: 0px 205px;

        .title2-heading {
            @include font-sen (600, 19px);
            padding-bottom: 10px
        }
        .title2-paragraph {
            @include font-roboto (400, 18px);
            padding-bottom: 20px;
        }
        .title2-btn {
            margin-left: -5px;
            color: $colorGreen;
            border: none;
            background-color: $headerBgColor;
            position: relative;
            @include font-sen (600, 15px);
            .btn-icon-viewProperties-green {
                @include icon-right ("/assets/icons/icon-arrow-left-green.svg", 18px, 18px, -23px, 4px)
            }
        }
        .title2-btn:hover {
            color: black;
            .btn-icon-viewProperties-green {
                @include icon-right ("/assets/icons/icon-arrow-left-black.svg", 18px, 18px, -23px, 4px)
            }
        }
        
    }
}


.home-bg {
    // margin-top: 100px;
    margin-bottom: 116px;
    // width: auto;
    // height: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: auto;
}
.img-bg {
    width: 100%;
    height: auto;
    position: absolute;
}
.container-black-box {
    padding: 55px 150px;
}
.bg-black-box {
    background-color: black;
    color: white;
    position: relative;
    padding: 115px;
    .black-box-city {
        @include font-sen (400, 18px);
    }
    .black-box-title {
        @include font-sen (600, 58px);
    }
    .black-box-line {
        padding: 40px 0;
        .black-box-icon-line {
            width: 75px;
            height: 4px;
            background-color: rgba(51,51,51,1);
        }
    }
    .black-box-col {
        .black-box-col-title {
            @include font-sen (400, 23px);
        }
        .black-box-parameters {
            @include font-sen (600, 57px);
            position: relative;
        }
        .black-box-icon-bedroom {
            @include icon-right ("/assets/icons/icon-couch.svg", 45px, 45px, 25px, 20px)
        }
        .black-box-icon-bathrooms {
            @include icon-right ("/assets/icons/icon-bathroom.svg", 45px, 45px, 25px, 16px)
        }
        .black-box-icon-area {
            @include icon-right ("/assets/icons/icon-area.svg", 45px, 45px, 60px, 20px)
        }
    }
}

.btn-block {
    left: 105px;
    top: 116px;
}
.btnDefaultGreen {
    @include btnDefault ( $colorGreen, 16px 40px 16px 18px);
    width: 200px;
    .btn-icon-arrow-left-white {
        @include icon-right ("/assets/icons/icon-arrow-left-white.svg", 18px, 18px, 27px, 19px)
    }
}
.btnDefaultGreen:hover {
    background-color: black;
}

.container-without-bg {
    padding: 150px 150px;
}

.white-cont-block {
    padding: 140px 0 140px;
    margin-left: 150px;
    .white-cont-block-title {
        margin-bottom: 15px;
        @include font-sen (600, 21px);
        color: $colorGreen;
    }
    .white-cont-block-heading {
        @include font-sen (400, 57px);
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .white-cont-block-text {
        @include font-roboto (400, 18px);
        margin: 0 0 55px;
    }
}
