@import '../../assets/style/variables';

.headerDefault {
    background-color: $headerBgColor;
}
.containerPer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.btnDefaultBlackHead {
    @include btnDefault(black, white, 15px 40px 17px 65px);
}
.btnDefaultBlackHead:hover {
    background-color: $colorGreen;
}

.icon-home {
    @include icon-left('/assets/icons/icon-home.svg', 15px, 15px, 40px, 18px);
}
